[submodule "bitbake"]
	path = bitbake
	url = https://git.openembedded.org/bitbake
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
	branch = wrynose
